*{
    font-family: monospace;
    background-color: black;
    color: white;
}

.App{
    display: block;
    align-items: center;
    justify-content: center;
    border: 4px white solid;
    padding: 2%;
}

input[type=text]{
    width: 95%;
    border: 1px white solid;
}

button{
    border: 2px white solid;
}